<div class="wrap">
    <div class="user-name">
        <a href="/page/chat/{{chatId}}">{{> svg-icon name="angle-left" }}{{> svg-icon name="chat-group" }}</a>
        <div class="user-penality" data-level="{{ penalityLevel }}"></div>
        <span>{{ username }}</span>
    </div>
    <div class="tabs">
        <div id="page-stats" class="tab-page active">
            {{#if stats.hasStats}}
                <div class="fields">
                    <div class="field">
                        <div class="field-title green">{{lexicon 'LABEL_EXP'}}</div>
                        <div class="field-value">{{ stats.exp }}</div>
                    </div>
                    {{#if stats.hasLevel }}
                        <div class="field half">
                            <div class="field-title blue">{{lexicon 'LABEL_LEVEL'}}</div>
                            <div class="field-value">{{ stats.level }} <small>({{ stats.maxLevelReached }})</small></div>
                        </div>
                    {{/if}}
                    {{#if stats.hasPrestige }}
                        <div class="field half">
                            <div class="field-title purple">{{lexicon 'LABEL_PRESTIGE'}}</div>
                            <div class="field-value">{{ stats.prestige }}</div>
                        </div>
                    {{/if}}

                    <div class="field-separator"></div>

                    <div class="field">
                        <div class="field-title">{{lexicon 'STATS_EPM_LABEL'}}</div>
                        <div class="field-value">{{ stats.expPerMessage }}</div>
                    </div>
                    {{#if stats.hasChallenges}}
                        <div class="field half">
                            <div class="field-title">{{lexicon 'STATS_CHALLENGE_TOTAL_LABEL'}}</div>
                            <div class="field-value">
                                {{ stats.challengesWon }}<small>{{lexicon 'STATS_CHALLENGE_W_LABEL'}}</small>
                                ‒
                                {{ stats.challengesLost }}<small>{{lexicon 'STATS_CHALLENGE_L_LABEL'}}</small>
                            </div>
                        </div>
                        <div class="field half">
                            <div class="field-title">{{lexicon 'STATS_CHALLENGE_RATEO_LABEL'}}</div>
                            <div class="field-value">{{ stats.challengesRateo }}</div>
                        </div>
                    {{/if}}

                    <div class="field">
                        <div class="field-title">{{lexicon 'STATS_BONUSES'}}</div>
                        <div class="field-values">
                            {{#if stats.hasPrestige }}
                                <div class="field-value-row">
                                    <span>{{lexicon 'STATS_PRESTIGE_BONUS_LABEL'}}</span>
                                    <span>+{{ stats.prestigeBonus }}%</span>
                                </div>
                            {{/if}}

                            {{#each stats.itemsBuff}}
                                <div class="field-value-row">
                                    <span>{{ target }}</span>
                                    <span>{{ value }}</span>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="field-separator"></div>

                    {{#if stats.progress.levelVisible }}
                        <div class="field">
                            <div class="field-title">
                                {{lexicon 'STATS_LEVEL_PROGRESS_LABEL'}}
                                <small>{{ stats.progress.levelExpRequired }} {{lexicon 'LABEL_EXP'}}</small>
                            </div>
                            <div class="field-progress">
                                <div class="field-progress-bar blue">
                                    <div style="width: {{ stats.progress.levelPercent }}%"></div>
                                    <span style="left: {{mathmax 5 (mathmin 95 stats.progress.levelPercent) }}%">
                                        {{stats.progress.levelPercent }}%
                                    </span>
                                </div>
                            </div>
                        </div>
                    {{/if}}

                    {{#if stats.progress.prestigeVisible }}
                        <div class="field">
                            <div class="field-title">
                                {{lexicon 'STATS_PRESTIGE_PROGRESS_LABEL'}}
                                <small>{{ stats.progress.prestigeExpRequired }} {{lexicon 'LABEL_EXP'}}</small>
                            </div>
                            <div class="field-progress">
                                <div class="field-progress-bar purple {{#if stats.prestigeAvailable}}pulse{{/if}}">
                                    <div style="width: {{mathmin 100 stats.progress.prestigePercent }}%"></div>
                                    <span style="left: {{mathmax 5 (mathmin 95 stats.progress.prestigePercent) }}%">
                                        {{#if stats.prestigeAvailable}}
                                            {{lexicon 'STATS_LABEL_PRESTIGEAVAILABLE'}} - 
                                        {{/if}}
                                        {{ stats.progress.prestigePercent }}% 
                                    </span>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            {{else}}
                <div class="empty">
                    {{> svg-icon name="empty" }}
                    <p>{{lexicon 'STATS_NOSTATS'}}</p>
                </div>
            {{/if}}
        </div>
        <div id="page-items" class="tab-page">
            {{#if items.hasItems}}
                <div class="fields">

                    {{#each items.group}}
                        <div class="field item-group" data-itemsgroup="{{ @key }}">
                            <div class="field-title">
                                {{ label }}<small>{{ buff }}</small>
                            </div>
                            <div class="field-values">
                                {{#each list}}
                                    <div class="item" data-rarityicon="{{ rarityicon }}">
                                        <div>
                                            <span class="item-rarity" data-rarityicon="{{ rarityicon }}"></span>
                                            <span class="item-name">{{ title }}</span>

                                            {{#if quantity }}
                                                <span class="item-quantity">x{{ quantity }}</span>
                                            {{/if}}

                                            {{#if timeout }}
                                                <span class="item-timeouticon">{{> svg-icon name="clock"}}</span>
                                                <span class="item-timeoutduration" data-timeout="{{ timeout }}"></span>
                                            {{/if}}
                                            
                                        </div>
                                        <div class="item-buff">{{ buff }}</div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}

                </div>
            {{else}}
                <div class="empty">
                    {{> svg-icon name="empty" }}
                    <p>{{lexicon 'ITEMS_LIST_NOITEMS_LABEL'}}</p>
                </div>
            {{/if}}
        </div>
        <div class="tab-buttons">
            <div class="tab-button active" onclick="changePage(this);" data-target="#page-stats">{{lexicon 'STATS_PAGENAME_STATS'}}</div>
            <div class="tab-button"        onclick="changePage(this);" data-target="#page-items">{{lexicon 'STATS_PAGENAME_ITEMS'}}</div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/style/stats.css">
<script type="text/javascript" src="/script/libs/zepto.min.js"></script>
<script type="text/javascript" src="/script/stats.js"></script>